<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center">Sign up</h2>
  <hr>
  <div class="form-group">
    <input type="text" name="username" class="form-control" placeholder="Username" [(ngModel)]="model.username">
  </div>
  <div class="form-group">
    <input type="password" name="password" class="form-control" placeholder="password" [(ngModel)]="model.password">
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Rigster</button>
    <button class="btn btn-defualt" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
